// navbar

.navbar-logo {
  width: 100px;
}
.navbar {
  background-color: #7AA5D2;
 

}

// home component

.hero  {
  background-color: #8A7AD1;
}

//Workspace


#main-workspace-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#title-workspace {
  color: #0C1723;
  font-size: 47px;
  margin: 20px 10px 30px 60px;
}
#loader-workspace {
  width: 50px;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

#cards-workspace:hover{
  background-color: #305D8D;
}
#cards-workspace{
  background-color: #2A527B;
}
#cards-new-folder {
  background-color: #D9E5F2;
  max-width: 200px;
}
#cards-new-folder:hover {
  background-color: #C6D8EB;
}

#workspace-card-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#workspace-cards-text {
  color: #F6F9FC;
}

#workspace-button {
  margin: 2px;
  padding: 3px;
  background-color: #ECF2F8;
  color: #24466A;
  font-size: 12px;
}

#workspace-buttons-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: right;
}
// #cards-workspace:hover{
//   background-color: #7AD1C4;
// }

//! Folderoverview
#folder-overview-flexbox {
display: flex;
flex-direction: row;
justify-content: space-between;

}


#left-side-folder-layout {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px 0px 0px 10px;
  width: 20%;
}

#middle-side-folder-layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px 0px 0px 10px;
  width: 60%;
}

#right-side-folder-layout {
  display: flex;
  flex-direction: column;
  // justify-content: flex-start;
  margin: 0px 0px 0px 10px;
  width: 20%;
}

.text-background-folder-name {
  background-color: #2A527B;
  color: #ECF2F8;
  padding: 20px;
  font-size: 30px;
}
.is-active {
  color: #7AD1C4;

}

#button-add-link {
  background-color: #9284D5;
  padding: 30px;
  margin-top: 80px;
}

#button-add-tag {

  background-color: #79C2D1;
  padding: 30px;
  margin-top: 80px;
}

#button-add-tag:hover {

  background-color: #97D0DB;
  padding: 30px;
  margin-top: 80px;
}
#button-add-link:hover {
  background-color: #A397DB;
 
}
#link-wrapper{
padding: 10px;
}
#loader-folder-overview{
  width: 50px;
  // position: relative;
  // align-self: center;
}

#folder-overview-card {
display: flex;
flex-direction: row;
justify-content: space-between;

}
#folder-overview-link-cards {
  background-color: #F7F6FC
   }
#folder-overview-link-cards:hover {
 background-color: #DED9F2;
  }

#add-link {
  width: 30px;
  margin: 2px 5px 2px 5px;
}

#link-card-text {
  color: #8A7AD1;
}


//!general styling rules
.card:hover {
  color:#D0DFEF;
}

// .card {
//   color:#03d6d2 !important;
// }

//! Update folder styles
#panel-update-folder {
  margin: 20px 0px 0px 0px;

}

#h3-update-folder {
 
  background-color: #24466A;
  color: #ECF2F8;
}


//! home page

#hero-image {
  background-image: url("https://res.cloudinary.com/dm4usld2h/image/upload/v1616010906/maarten-van-den-heuvel-8EzNkvLQosk-unsplash_uk2kss.jpg");
  background-size: cover;
}

#home-title {
  font-size: 70px;
  color: #ECF2F8;
  font-family: 'Raleway', sans-serif;
}
#home-subtitle {
  color: #ECF2F8;
  font-size: 30px;
  background: rgb(122, 165, 210);
  font-family: 'Raleway', sans-serif;
}

//! navbar

#nav-right-buttons {
  background-color: #2A527B;
  color: #ECF2F8;
  border: #24466A;
}
#nav-right-buttons:hover {
  background-color: #24466A;
  color: #ECF2F8;
  border: #24466A;
}

#nav-left-buttons{
background-color: #D9E5F2;
}

#nav-left-buttons:hover{
  background-color: #ECF2F8;
  
}

//! login
#login-form {
  width: 40%;
}

#container-form{
display: flex;
// justify-content: center;
flex-direction: column;
align-items: center;

}
//! registration
#registration-form {
  width: 40%;
}

//! update page
#folder-delete-button {
  margin: 10px 0px 40px 55px;
}

//! view link
.container {
  padding: 30px;
 
}

#textbox-link-overview {
  padding: 40px;
}

#link-flexbox {

  display: flex;
  flex-direction: column;
  position: relative;
}

//comments
#comment-title {
  // margin: 0px 0px 0px 20px;
  background: #24466A;
  color: #F6F9FC;

}

#inside-comment-panel {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 50px 10px 40px;
}
// .media-content {
//   
// }

#submit-comment {
  margin: 40px;
}
#main-comment-box {
  padding: 10px;
}

.fas.fa-home {
  color: magenta;
}
.breadcrumb ul{ 
  margin-top:24px; 
  margin-left: 20px;
 
} 
#breadcrumb-font {
  color: #24466A;
}

#breadcrumb-font:hover {
  color: #3C74B0;
}

//! update the link
#flexbox-update-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  
}
#title-update-form{
  color: #182F47;
}

#link-form-section{
  margin-top: 0px;
  padding-top: 0px;
}


#h3-link-panel {
 
  background-color: #8A7AD1;
  color: #ECF2F8;
}
#tag-form {
  padding: 30px;
}

#h3-tag-panel {
 
  background-color: #79C2D1;
  color: #F6F9FC;
}

.is-success {
  background-color: grey;
}